:root {
	--geoRadius: 7px;


	/*font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
	font-family: 'Courier New', Courier, monospace;
	font-weight: bold;
	line-height: 1.5;

	color: #222;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-size: inherit;
}

body,
#app {
	margin: 0;
	display: block;
	min-height: 100vh;
	background-color: white;
}

.elbe-textfield {
	border: none;
	background-color: transparent;
	color: #000;
	border: #00000022 2px solid;
	padding: 0 0.75rem;
	height: 3rem;
	min-width: 50px;
}

.elbe-textfield:focus {
	border-radius: var(--geoRadius);
	outline: none;
	background-color: #eee;
}

button {
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
	background-color: #CCCCCC;
	padding: 0px 0.75rem;
	border-radius: var(--geoRadius);
	color: #000;
	height: 3rem;
	cursor: pointer;
}

button[disabled=""] {
	@extend .disabled;
	opacity: 0.2 !important;
	cursor: not-allowed;
}

.btn-primary {
	background-color: #000000;
	color: white;
}

.btn-integrated {
	background-color: transparent;
	color: black;
}

.disabled {
	filter: grayscale(black);
	opacity: 0.3;
}

.btn-icon {
	padding: 0px;
	aspect-ratio: 1;
}

.content-base {
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;
}

.list-base {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: 10px;
	width: calc(min(100%, 400px) - 20px);

}

.entry-done {
	color: gray;
	text-decoration: line-through;
}

.entry-toggle {
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.entry-title {
	flex: 1;
	margin: 0px 10px;
}

.entry-base {
	display: flex;
	align-items: center;
	margin: 4px 0px;
	padding: 10px;
	cursor: pointer;

	border: #00000012 2px solid;
	border-radius: var(--geoRadius);
	min-height: 3rem;
}

.create-base {
	margin: 1rem 0;
	display: flex;
}

.create-base input {
	flex: 1;
	border: none;
	margin-right: 1rem;
}

.header {
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	display: flex;

	align-items: center;
	justify-content: space-between;
	min-height: 3rem;
	font-size: larger;
	font-weight: 900;
	border-bottom: #00000012 2px solid;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);

}

.footer {
	text-align: center;
	margin: 2rem 0;
	font-size: 0.75rem;
	opacity: 0.6;
}


a {
	color: teal;
}

a:visited {
	color: darkslategray;
}

.padded{
	padding: 1rem;
}

.empty-list-message{
	text-align: center;
	margin: 2rem 0;
	opacity: 0.6;

}

.rotate-box{
	@extend .rotate;
	display: flex;
	align-items: center;
	justify-content: center;
}

.rotate {
	animation: rotation 1.5s infinite linear;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(359deg);
	}
}